<div class="container-fluid">
  <h3><i class="bi bi-clipboard-data-fill"></i> Policies</h3>
  <hr />
  <div class="content-container">
    <wtw-policies-data-table
      [isLoading]="isLoading$ | async"
      [policies]="policies$ | async"
      (selectedPolicyToEdit)="onSelectedPolicyToEdit($event)"
      (selectedPolicyToDelete)="onDelete($event)"
      (filterByPolicyHolderName)="onPolicyHolderNameChange($event)"
      (orderPoliciesByType)="onOrderPoliciesByType($event)"
      (orderPoliciesByPolicyHolder)="onOrderPoliciesByPolicyHolder($event)"
    ></wtw-policies-data-table>
    <wtw-policies-data-editor
      (createNewPolicy)="onCreateNewPolicy($event)"
      (editExistingPolicy)="onEditExistingPolicy($event)"
      [selectedPolicyToEdit]="selectedPolicyToEdit"
    >
    </wtw-policies-data-editor>
  </div>
</div>
